<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Rental Contract</title>
    <link rel="stylesheet" type="text/css" href="motor.css">
</head>
<div class="back-format">
    <h1>Create A New Rental Contract</h1>
    <p><i>Nordic Motor Homes <br> Generatorvej 10, Gladsaxe, Phone: +45-88888888<br>email: nordicmotor@nordicmotor.com</i></p>
    <form action="/createRentalContract" method="post">


        <label>Enter Start Date</label>
        <input type="date" required pattern="\d{4}-\d{2}-\d{2}" placeholder="yyyy-mm-dd" name="rentalContract_startDate"><br><br>
        <label>Enter End Date</label>
        <input type="date" required pattern="\d{4}-\d{2}-\d{2}" placeholder="yyyy-mm-dd" name="rentalContract_endDate"><br><br>
        <label>Enter Customer ID</label>
        <input type="number" max="9999" placeholder="numbers only" name="customer_id"><br><br>
        <label>Enter Motorhome ID</label>
        <input type="number" max="9999" placeholder="numbers only" name="motorhome_id"><br><br>
        <label>Enter Extra ID</label>
        <input type="number" max="9999" placeholder="numbers only" name="extra_id"><br><br>


        <input  type="submit" class="input-format input-1" value="Create New Rental Contract">
    </form>
</div>
</body>
</html>