<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update RentalContract</title>
    <link rel="stylesheet" type="text/css" href="motor.css">
    <style>
        h1{color:black; text-align: center;}
        p{text-align: center}
        label{margin: 30px; font-family: cursive}
        input{border-radius: 10px; padding: 10px; margin-left: 30px;}
    </style>
</head>
<body  style="background-color:  #1e90d263;">
<h1  >Edit Rental Contract</h1>
<p><i>Nordic Motor Homes <br> Generatorvej 10, Gladsaxe, Phone: +45-88888888<br>email: nordicmotor@nordicmotor.com</i></p>
<form action="/rentalContract/updateRentalContract" method="post">
    <label>Edit Rental Contract ID</label><br>
    <input type="text" name="rentalContract_id" th:value="${rentalContract.rentalContract_id}"><br><br>
    <label>Edit Start Date</label><br>
    <input type="text" name="rentalContract_startDate" th:value="${rentalContract.rentalContract_startDate}"><br><br>
    <label>Edit End Date</label><br>
    <input type="text" name="rentalContract_endDate" th:value="${rentalContract.rentalContract_endDate}"><br><br>
    <label>Edit Customer ID</label><br>
    <input type="text" name="customer_id" th:value="${rentalContract.customer_id}"><br><br>
    <label>Edit Motorhome ID</label><br>
    <input type="text" name="motorhome_id" th:value="${rentalContract.motorhome_id}"><br><br>
    <label>Edit Extra ID</label><br>
    <input type="text" name="extra_id" th:value="${rentalContract.extra_id}"><br><br>

    <input  type="submit" class="input-format input-1" value="Save Changes">
</form>
</body>
</html>