<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Motorhome</title>
    <link rel="stylesheet" type="text/css" href="motor.css">
</head>
<div class="back-format">
    <h1>Create A New Motorhome</h1>
    <p><i>Nordic Motor Homes <br> Generatorvej 10, Gladsaxe, Phone: +45-88888888<br>email: nordicmotor@nordicmotor.com</i></p>
    <form action="/createMotorhome" method="post">

        <label class="label-format">Enter Motorhome Type</label>
        <input type="text" class="input-format" name="motorhome_type" required><br><br>
        <label class="label-format">Enter Motorhome Brand</label>
        <input type="text" class="input-format" name="motorhome_brand" required><br><br>
        <label class="label-format">Enter Motorhome Model</label>
        <input type="text" class="input-format" name="motorhome_model" required><br><br>
        <label class="label-format">Enter Nr. of Beds</label>
        <input type="text" class="input-format" name="motorhome_beds" required><br><br>
        <label class="label-format">Enter Registration Nr.</label>
        <input type="text"  class="input-format"name="motorhome_registration" required><br><br>
        <label class="label-format">Enter Odometer Count</label>
        <input type="number" placeholder="Enter odometer count" max="9999999" class="input-format" name="motorhome_odometer" required><br><br>
        <label class="label-format">Enter Availability</label>
        <input type="text" class="input-format" name="motorhome_availability"required><br><br>
        <label class="label-format">Enter Fuel Type</label>
        <input type="text" class="input-format" name="motorhome_fuelType"required><br><br>
        <label class="label-format">Enter Amount of Fuel</label>
        <input type="number" placeholder="Enter fuel amt in %" max="999" class="input-format" name="motorhome_fuelAmount"required><br><br>
        <label class="label-format">Enter Price</label>
        <input type="number" placeholder="Enter price in Euro" max="9999999" class="input-format" name="motorhome_price"required><br><br>



        <input  type="submit" class="input-format input-1"  value="Create New Motorhome">
    </form>
</div>
</body>
</html>