<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Motorhome</title>
    <link rel="stylesheet" type="text/css" href="motor.css">
</head>
<h1>Create A New Motorhome</h1>
<p><i>Nordic Motorhome<br>Lygten 37, Copenhagen NV <br>Opening Hours: 10.00 to 18.00 Every weekdays</i></p>
<form action="/createMotorhome" method="post">

    <label>Enter Motorhome Type</label>
    <input type="text" name="motorhome_type"><br><br>
    <label>Enter Motorhome Brand</label>
    <input type="text" name="motorhome_brand"><br><br>
    <label>Enter Motorhome Model</label>
    <input type="text" name="motorhome_model"><br><br>
    <label>Enter Nr. of Beds</label>
    <input type="text" name="motorhome_beds"><br><br>
    <label>Enter Registration Nr.</label>
    <input type="text" name="motorhome_registration"><br><br>
    <label>Enter Odometer Count</label>
    <input type="text" name="motorhome_odometer"><br><br>
    <label>Enter Availability</label>
    <input type="text" name="motorhome_availability"><br><br>
    <label>Enter Fuel Type</label>
    <input type="text" name="motorhome_fuelType"><br><br>
    <label>Enter Amount of Fuel</label>
    <input type="text" name="motorhome_fuelAmount"><br><br>
    <label>Enter Price</label>
    <input type="text" name="motorhome_price"><br><br>



    <input style="background-color: orange" type="submit" value="Create New Motorhome">
</form>

</body>
</html>