<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <link rel="stylesheet" type="text/css" href="motor.css">
</head>
<body>
<h1>List of Motorhomes</h1>
<p><i>Nordic Motor Homes <br> Generatorvej 10, Gladsaxe, Phone: +45-88888888<br>email: nordicmotor@nordicmotor.com</i></p>

<a href="/">
    <button class="btn-create" id="btn-back">Back to home </button>
</a>
<a href="/createMotorhome">
    <button class="btn-create" id="btn-create">Create New Motorhome</button>
</a>

<table style="width: 90%">
    <thead>
    <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Nr. of beds</th>
        <th>Registartion Nr.</th>
        <th>Odometer count</th>
        <th>Availability</th>
        <th>Fuel Type</th>
        <th>Fuel Amount</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="motorhome: ${motorhomes}">
        <td th:text="${motorhome.motorhome_id}"/>
        <td th:text="${motorhome.motorhome_type}"/>
        <td th:text="${motorhome.motorhome_brand}"/>
        <td th:text="${motorhome.motorhome_model}"/>
        <td th:text="${motorhome.motorhome_beds}"/>
        <td th:text="${motorhome.motorhome_registration}"/>
        <td th:text="${motorhome.motorhome_odometer}"/>
        <td th:text="${motorhome.motorhome_availability}"/>
        <td th:text="${motorhome.motorhome_fuelType}"/>
        <td th:text="${motorhome.motorhome_fuelAmount}"/>
        <td th:text="${motorhome.motorhome_price}"/>



        <td>
            <a th:href="@{'/motorhome/findMotorhome/'+${motorhome.motorhome_id}}">
                <button class="btn-findMotorhome", id="btn-find">View One Motorhome</button>
            </a>
            <a th:href="@{'/motorhome/delete/'+${motorhome.motorhome_id}}">
                <button class="btn-deleteMotorhome", id="btn-delete">Delete Motorhome</button>
            </a>
            <a th:href="@{'/motorhome/updateMotorhome/'+${motorhome.motorhome_id}}">
                <button class="btn-updateMotorhome", id="btn-update">Update Motorhome</button>
            </a>
        </td>

    </tr>
    </tbody>
</table>
</body>
</html>