<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Motorhome</title>
    <link rel="stylesheet" type="text/css" href="motor.css">
    <style>
        h1{color:black; text-align: center;}
        p{text-align: center}
        label{margin: 30px; font-family: cursive}
        input{border-radius: 10px; padding: 10px; margin-left: 30px;}
    </style>
</head>
<body style="background-color:  #1e90d263;">
<h1 >Edit Motorhome</h1>
<p ><i>Nordic Motor Homes <br> Generatorvej 10, Gladsaxe, Phone: +45-88888888<br>email: nordicmotor@nordicmotor.com</i></p>
<form action="/motorhome/updateMotorhome" method="post">
    <label>Edit ID</label><br>
    <input type="text" name="motorhome_id" th:value="${motorhome.motorhome_id}"><br><br>
    <label>Edit Motorhome Type</label><br>
    <input type="text" name="motorhome_type" th:value="${motorhome.motorhome_type}"><br><br>
    <label>Edit Motorhome Brand</label><br>
    <input type="text" name="motorhome_brand" th:value="${motorhome.motorhome_brand}"><br><br>
    <label>Edit Motorhome Model</label><br>
    <input type="text" name="motorhome_model" th:value="${motorhome.motorhome_model}"><br><br>
    <label>Edit Number of Beds</label><br>
    <input type="text" name="motorhome_beds" th:value="${motorhome.motorhome_beds}"><br><br>
    <label>Edit Registration Number</label><br>
    <input type="text" name="motorhome_registration" th:value="${motorhome.motorhome_registration}"><br><br>
    <label>Edit Odometer Count</label><br>
    <input type="text" name="motorhome_odometer" th:value="${motorhome.motorhome_odometer}"><br><br>
    <label>Edit Availability</label><br>
    <input type="text" name="motorhome_availability" th:value="${motorhome.motorhome_availability}"><br><br>
    <label>Edit Fuel Type</label><br>
    <input type="text" name="motorhome_fuelType" th:value="${motorhome.motorhome_fuelType}"><br><br>
    <label>Edit Fuel Amount</label><br>
    <input type="text" name="motorhome_fuelAmount" th:value="${motorhome.motorhome_fuelAmount}"><br><br>
    <label>Edit Price</label><br>
    <input type="text" name="motorhome_price" th:value="${motorhome.motorhome_price}"><br><br>


    <input  type="submit" class="input-format input-1" value="Save Changes">
</form>
</body>
</html>