<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="motor.css">
</head>
<body>
<h1>Calculating...</h1>
<p><i>Nordic Motorhome<br>Generatorvej 10, Gladsaxe <br>Opening Hours: 10.00 to 18.00 Every weekdays</i></p>
<hr>
<label class="label-format">Start date:</label><span th:text="${startingDate}"/><br>
<label class="label-format">End date:</label><span th:text="${endingDate}"/><br>
    <label class="label-format">Total number of days:</label><span th:text="${totalNumberOfDays}"/><br>
<hr>
<label class="label-format">Season price:</label><span th:text="${seasonPrice}"/>€<br>
<label class="label-format">Total price with season price:</label><span th:text="${totalPriceAndSeasonPrice}"/>€<br>
<hr>
<label class="label-format">Motorhome brand:</label><span th:text="${brand}"/><br>
<label class="label-format">Price for brand:</label><span th:text="${priceForBrand}"/>€<br>
<label class="label-format">Total price with brand price:</label><span th:text="${totalPriceAndPriceForBrand}"/>€<br>
<hr>
<label class="label-format">Motorhome model:</label><span th:text="${model}"/><br>
<label class="label-format">Price for model:</label><span th:text="${priceForModel}"/>€<br>
<label class="label-format">Total price with model price:</label><span th:text="${totalPriceAndPriceForModel}"/>€<br>
<hr>
<label class="label-format">Fuel amount:</label><span th:text="${fuelAmount}"/>%<br>
<label class="label-format">Total price with fuel costs:</label><span th:text="${totalPriceAfterFuelAmount}"/>€<br>

<form action="/distance" method="get">
    <label class="label-format" for="distancekm">Distance driven:</label>
    <input type="number" id="distancekm" name="distance" placeholder="kilometers" required>
    <button class="input-format input-1" type="submit">Submit</button>
</form>
</body>
</html>