<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="motor.css">
</head>
<body>
<h1>Calculating distance driven costs...</h1>
<p><i>Nordic Motorhome<br>Lygten 37, Copenhagen NV <br>Opening Hours: 10.00 to 18.00 Every weekdays</i></p>
<hr>
<label class="label-format">Distance driven:</label><span th:text="${distanceDriven}"/>km<br>
<label class="label-format">Number of days:</label><span th:text="${days}"/><br>
<label class="label-format">Average kilometers per day:</label><span th:text="${averageDistance}"/>km<br>
<label class="label-format">Total price with distance cost:</label><span th:text="${totalPriceWithDistanceCost}"/>€<br><br>

<form action="/addExtras" method="get">
    <button class="input-format input-1" type="submit">Proceed to additional costs</button>
</form>
</body>
</html>