<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="motor.css">
</head>
<body>

<h1>Welcome to additional costs !</h1>
<p><i>Nordic Motorhome<br>Generatorvej 10, Gladsaxe <br>Opening Hours: 10.00 to 18.00 Every weekdays</i></p>

<form action="/finishCalculation" method="get">
    <hr>
    <label class="label-format" for="serviceID">Service</label>
    <input type="number" name="service" id="serviceID" placeholder="quantity" required><br><br>
    <label class="label-format" for="transportID">Transport</label>
    <input type="number" name="transport" id="transportID" placeholder="quantity" required><br><br>

    <table style="width: 40%">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="extra: ${extras}">
            <td th:text="${extra.extra_id}"/>
            <td th:text="${extra.extra_name}"/>
            <td th:text="${extra.extra_price}"/>
        </tbody>
    </table><br><br>

    <label class="label-format" for="item1ID">Bike rack</label>
    <input type="number" name="item1" id="item1ID" placeholder="quantity" required><br><br>
    <label class="label-format" for="item2ID">Bed linen</label>
    <input type="number" name="item2" id="item2ID" placeholder="quantity" required><br><br>
    <label class="label-format" for="item3ID">Child seat</label>
    <input type="number" name="item3" id="item3ID" placeholder="quantity" required><br><br>
    <label class="label-format" for="item4ID">Picnic table</label>
    <input type="number" name="item4" id="item4ID" placeholder="quantity" required><br><br>
    <label class="label-format" for="item5ID">Picnic chair</label>
    <input type="number" name="item5" id="item5ID" placeholder="quantity" required><br><br>

    <button class="input-format input-1" type="submit">Finish</button>
</form>
</body>
</html>