<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="motor.css">
</head>
<body>

<h1>Welcome to additional costs !</h1>
<p><i>Nordic Motorhome<br>Lygten 37, Copenhagen NV <br>Opening Hours: 10.00 to 18.00 Every weekdays</i></p>
<hr>
<form action="/finishCalculation" method="get">
    <label for="serviceID">Service</label><br>
    <input type="number" name="service" id="serviceID" placeholder="quantity" required><br>
    <hr>
    <label for="transportID">Transport</label><br>
    <input type="number" name="transport" id="transportID" placeholder="quantity" required><br>
    <hr>
    <label>Table of extras</label>
    <table style="width: 50%">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="extra: ${extras}">
            <td th:text="${extra.extra_id}"/>
            <td th:text="${extra.extra_name}"/>
            <td th:text="${extra.extra_price}"/>
        </tbody>
    </table>

    <label for="item1ID">Bike rack</label><br>
    <input type="number" name="item1" id="item1ID" placeholder="quantity" required><br>
    <label for="item2ID">Bed linen</label><br>
    <input type="number" name="item2" id="item2ID" placeholder="quantity" required><br>
    <label for="item3ID">Child seat</label><br>
    <input type="number" name="item3" id="item3ID" placeholder="quantity" required><br>
    <label for="item4ID">Picnic table</label><br>
    <input type="number" name="item4" id="item4ID" placeholder="quantity" required><br>
    <label for="item5ID">Picnic chair</label><br>
    <input type="number" name="item5" id="item5ID" placeholder="quantity" required><br>

    <button type="submit">Finish</button>
</form>
</body>
</html>