<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="motor.css">

</head>
<body>
<h1 style="font-family: fantasy">Nordic Motor Homes</h1>
<section class="content">
    <a href="/motorhome" class="btn-create" >
        Motorhome
    </a>

    <a href="/customer" class="btn-create">
        Customer
    </a>

    <a href="/rentalContract" class="btn-create">
        Rental Contract
    </a>
</section>
<div style="font-family: fantasy" ><p style="font-style: italic">Nordic Motor Homes <br> Generatorvej 10, Gladsaxe, Phone: +45-88888888<br>email: nordicmotor@nordicmotor.com</p></div>
</body>
</html>